.services {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
}

.services-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 35px;
}

.service-card {
  background: #10cfc9;
  padding: 45px 30px 35px;
  position: relative;
  color: white;
  transition: 0.3s ease;
}

@media screen and (max-width: 980px) {
  .services-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .services-cards {
    grid-template-columns: 1fr;
  }
}

.service-card.dark {
  background: #082544;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card .icon-box {
  width: 65px;
  height: 65px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card .icon-box img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.service-card h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

.service-card p {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.service-card a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  margin-top: 15px;
}
