

.services-page.container { width: 90%; margin: 50px auto 80px; }
.services-grid { display: grid; gap: 30px; grid-template-columns: repeat(3, 1fr); }

@media (max-width: 980px) { 
  .services-grid { 
    grid-template-columns: repeat(2, 1fr); 
  } 
}
@media (max-width: 640px) { 
  .services-grid { 
    grid-template-columns: 1fr; 
  } 
}